<div id="popup">
    <div id="popup-content">
        <h3>Instructions:</h3>
        <p>Welcome to the wishing fountain! Click a coin, and drag it to the fountain to drop it. Oh, don't forget to
            make your wish.</p>
        <p>Psst...hover/click on the fountain to see how many coins have been thrown!</p>
    </div>

    <button id="close">Start Tossing</button>
</div>
</div>