<div id="overlay"></div>

<h1 id="page-title">The Wishing Fountain</h1>

<div id="popup">
    <div id="popup-content">
        <div id="popup-heading">
            <h2>Instructions:</h2>
        </div>
        <p>Welcome to the wishing fountain! Click a coin, and drag it to the fountain to drop it. Oh, don't forget to
            make your wish.</p>
        <button id="close">Start Tossing</button>
    </div>
</div>

<div id="fountain-wrapper">
    <div id="fountain">
        <div id="drop-zone">
            <div class="water"></div>
        </div>
    </div>

    <div id="coinCollection">
        <img class="coin" id='penny' src="/images/penny.png" draggable="true">
        <img class="coin" id='nickel' src="/images/nickel.png" draggable="true">
        <img class="coin" id='dime' src="/images/dime.png" draggable="true">
        <img class="coin" id='quarter' src="/images/quarter.png" draggable="true">
    </div>
</div>


<button id="openSidebar">Coin Stats</button>

<div id="sidebar">
    <button id="closeSidebar">X</button>
    <div id="filter-container">
        <button class="coin-filter" data-coin="penny">Pennies</button>
        <button class="coin-filter" data-coin="nickel">Nickels</button>
        <button class="coin-filter" data-coin="dime">Dimes</button>
        <button class="coin-filter" data-coin="quarter">Quarters</button>
    </div>
    <div id="stats-content"></div>
</div>