<div id="popup">
    <div id="popup-content">
        <div id="popup-heading">
            <h3>Instructions:</h3>
        </div>
        <p>Welcome to the wishing fountain! Click a coin, and drag it to the fountain to drop it. Oh, don't forget to
            make your wish.</p>
        <p>Psst...hover or click on the fountain to see how many coins have been thrown!</p>
        <button id="close">Start Tossing</button>
    </div>
</div>

<button id="coin-stats"></button>