@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

* {
  font-family: "Coiny", system-ui;
  font-weight: 400;
}

/* popup customization */
#overlay {
  position: fixed;
  inset: 0;
  background-color: black;
  display: none;
  opacity: 0.5;
  z-index: 0;
}

#popup {
  display: none;
  position: fixed;
  z-index: 1;
  width: 30%;
  height: auto;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#popup-content {
  background-color: antiquewhite;
  margin: auto;
  padding: 3% 5%;
  border-radius: 20px;
  border: 1px solid rgb(47, 135, 191);
  font-size: 18px;
  color: rgb(47, 135, 191)
}

#popup-heading {
  background-color: rgb(47, 135, 191);
  color: antiquewhite;
  text-align: center;
  border: 1px solid rgb(55, 148, 129);
  border-radius: 10px;
  font-size: 30px;
}

#popup-heading h2 {
  margin: 0;
}

#close {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  background-color: rgb(47, 130, 113);
  color: antiquewhite;
  border: 1px solid rgb(47, 135, 191);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

#close:hover {
  background-color: antiquewhite;
  color: rgb(47, 130, 113);
  border: 1px solid rgb(47, 130, 113);
}

/* sidebar */
#openSidebar {
  width: 10vh;
  height: 8vh;
  background-color: antiquewhite;
  color: rgb(47, 130, 113);
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

#openSidebar:hover {
  background-color: rgb(47, 130, 113);
  color: antiquewhite;
}

#closeSidebar {
  display: none;
  position: absolute;
  top: 2%;
  left: 73%;
  border: none;
  color: antiquewhite;
  background-color: rgb(47, 130, 113);
  border-radius: 10px;
  font-size: 20px;
  width: 10vh;
  height: 8vh;
}

#sidebar {
  position: fixed;
  width: 0;
  height: 100vh;
  background-color: antiquewhite;
  transform: width 0.5s ease;
  z-index: 9999;
}

/* customizing filter button */
#coin-filter {
  display: none;
  position: absolute;
  width: 10vh;
  height: 8vh;
  background-color: rgb(47, 135, 191);
  border: none;
  border-radius: 10px;
  color: antiquewhite;
  font-size: 20px;
}

#coin-filter:hover {
  color: rgb(47, 135, 191)
}

/* customize coins */
img {
  width: 20vh;
  height: 16vh;
}

#coinCollection {
  position: absolute;
  bottom: 20%;
  right: 10%;
  width: 10vh;
  height: fit-content;
}

/* fountain */
#fountain {
  position: relative;
  width: 100%;
}

#drop-zone {
  position: absolute;
  width: 50vh;
  height: 50vh;
  border: 1px solid black;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}